@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

* {
    /*zerando o boxmodel padrão do navegador*/
    margin:0;
    padding: 0;
    border: 0;
}
body {
    background: #282a36; /*shorthand*/
    font-family: 'Roboto', sans-serif;
}
header{
    padding: 30px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);   
}
header div {
    text-align: center;
}
header div a{
    color: white;
    text-decoration: none;
    margin: 30px;
}
header div a:hover{
    color: #50fa7b;
    transition: color 500ms;
}